.list {
	min-width: 220px;
	margin: 1em;
	padding: 1em 1em 1em 0;

	border-radius: 2px;
	background-color: $white-color;

	p, h6 {
		padding-left: 1em;
	}

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sidebar {
	flex: 1 0 0;
	background-color: $white-color;
	padding: 1em;
	margin: 1em;
	min-width: 200px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.members {
}

.items {
	flex: 3 0 0;
}

.item {
	display: flex;
	padding: 1em;
	margin: 1em;
	min-width: 200px;
	background-color: $white-color;

	input {
		display: inline;
	}

	span {
		padding-left: 0.5em;
	}

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	.item-left, .item-edit {
		flex: 2 0 0;
	}

	.item-right {
		padding: 0 1em 0 1em;
		flex: 1 0 1;

		span:hover {
			cursor: pointer;
		}
	}

	.item-edit {
		input[type=text], input[type=date] {
			background-color: $white-color;
		}
	}
}

.add-item {
	padding: 0.5em 1em 1em 1em;
	margin: 1em;		
}

.hidden {
	display: none;
}



