.list {
	min-width: 220px;
	width: 220px;
	margin: 1em;
	padding: 1em 1em 1em 0;

	border-radius: 2px;
	background-color: $white-color;

	p, h6 {
		padding-left: 1em;
	}

	.title {
		flex: 2 0 0;
	}

	.deleteList {
		flex: 1 0 1;
		color: $light-grey;
	}

	.deleteList:hover {
		color: $black-color;
		cursor: pointer;
	}

	input, select {
		margin-left: .5em;
		border: 0;
		width: 180px;
	}

	select {
		width: 180px;
		margin-left: 1.3em;
		padding-left: 2em;
		height: 2.0em;
	}

	input[name='listTitle'] {
		border: 0;
		font-size: 1.5rem;
		color: $primary-color;
	}

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sidebar {
	flex: 1 0 0;
	padding: 1em;
	margin: 1em;
	min-width: 200px;

	.color-picker {
		margin: .5em .5em 1em 0;
		flex: 1 0 1;
		font-size: 1.3em;
		color: #ff0000;

		i:hover {
			cursor: pointer; }
		}

		.category-input {
			flex: 2 0 0;
		}
	}

	.lists {
		flex: 4 0 0;
	}

	.items {
		flex: 3 0 0;
	}

	.item {
		padding: 1em;
		margin: 1em;
		min-width: 200px;
		background-color: $white-color;

		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

		.item-left, .item-edit, .item-assign {
			flex: 2 0 0;
			min-width: 200px;
		}

		.item-right {
			padding: 0 1em 0 1em;
			flex: 1 0 1;
			min-width: 200px;

			span {
				margin-left: .8em;

				&:hover {
					cursor: pointer;
				}
			}

			.user-image {
				height: 35px;
				width: 35px;
				border-radius: 50%;
				margin: -0.5em -0.5em -0.8em -0.5em;
			}
		}

		.item-edit {
			input[type=text], input[type=date] {
				background-color: $white-color;
				display: inline;
			}
		}
	}


	.add-item {
		padding: 0.5em 1em 1em 1em;
		margin: 1em;
	}

	.hidden {
		display: none !important;
	}

	.filtered {
		background-color: $light-grey;
	}

	.itemPriority {
		border-radius: 16px;
		color: $white-color;
		padding: .3em .5em .3em .5em;
	}

	.priority-low {
		background-color: $green-color;
	}

	.priority-medium {
		background-color: $yellow-color;
	}

	.priority-high {
		background-color: $red-color;
	}
