body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 1em 1.5em;
    box-sizing: border-box;
}

.container-large {
    position: relative;
    width: 100%;
    max-width: $container-large-width;
    margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

img-responsive {
    max-width: 100%;
    height: auto;
    display:block;
}

.navbar {
    overflow: hidden;
    padding: 0.2em 0.2em 0.2em 0;
    background-color: $primary-color;

    ul {
        list-style-type: none;

        li {
            display: inline;

            a {
                float: left;
                display: block;
                text-align: center;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 600;
                line-height: 3.5rem;
                padding: 0 1.2em;
                color: $background-color;
                text-decoration: none;
            }

            a:hover {
                color: $white-color;
            }

        }
    }

    .nav-right {
        float: right;
    }
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: $primary-color;
  color: $white-color;
}
