.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar-top {
    overflow: hidden;
}

.navbar-top {
    a {
        float: left;
        display: block;
        text-align: center;
        padding: 1.5em 1.5em;
        text-decoration: none;
    }

    .nav-right {
        float: right;
    }
}
