// Colors
$light-grey: #e1e1e1;
$dark-grey: #333;
$primary-color: #33c3f0;
$secondary-color: lighten($dark-grey, 13.5%);
$border-color: #bbb;
$link-color: #1ea   edb;
$main-color: #222;

$white-color: #fff;
$black-color: #000;

// Fonts
$main-font:   "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Container width
$container-width: 960px;

$border-radius: 4px;
