.alert-success {
	color: darken($green-color, 25%);
	background-color: lighten($green-color, 30%);
}

.alert-error {
	color: darken($red-color, 25%);
	background-color: lighten($red-color, 30%);
}

.alert-top {
	width: 100%;
	padding: 1em 0 .2em 0;

	p {
		padding-left: 2em;
	}
}

.alert-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 1.5em;
    padding: 1em;
    border-radius: 16px;
    animation: slideUp .5s;
    animation-timing-function: ease-out;

    .alert-message {
    	flex: 2 0 0;
    	padding-right: 2em;
    }

    .close-button {
    	flex: 1 0 1;

    	&:hover {
    		cursor: pointer;
    	}
    }
}

@keyframes slideUp {
    from {
    	bottom: 0;
    	opacity: 0.3;
    }

    to {
    	bottom: 1em;
    	opacity: 1;
    }
}


